::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(23, 4%, 15%);

  &-thumb {
    border-radius: 0.5rem;
    background-color: hsl(23, 4%, 30%);

    &:hover {
      background-color: hsl(23, 4%, 40%);
    }
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

.show-scroll {
  bottom: 3rem;
}
